# Maven target directories
target/
**/target/

bin/
**/bin/

# IDE files
.idea/
*.iml
*.iws
*.ipr
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and local env
*.log
.env


node_modules/
**/node_modules/

# Temporary files
*.tmp
*.swp
*.swo

# Build artifacts
dist/
package-lock.json
**/package-lock.json


