# Maven target directories
target/
**/target/

# Gradle build directories
build/
**/build/
.gradle/
**/.gradle/

bin/
**/bin/

# IDE files
.idea/
*.iml
*.iws
*.ipr
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and local env
*.log
.env


node_modules/
**/node_modules/

# Temporary files
*.tmp
*.swp
*.swo

# Python cache
__pycache__/
**/__pycache__/
*.pyc

# Build artifacts
dist/
package-lock.json
**/package-lock.json


/workspace/platf-bizz-apps/swfabrik-europe/food-market-05-service/node_modules/
/workspace/platf-bizz-apps/swfabrik-europe/food-market-02-service/target/
